<ion-content fullscreen scroll-y="false">
  <ion-slides pager>
      <ion-slide >
        <div class="slide-content">
          <h6 class="ion-no-margin">Bienvenido a</h6>
          <h6 class="ion-no-margin u-bold">Colsubsidio virtual</h6>
        </div>
      </ion-slide>
      <ion-slide>
          <div class="slide-content">
            <h6 class="ion-no-margin u-bold">Vel sed accumsan integer porttitor</h6>
            <h6 class="ion-no-margin ion-padding-start ion-padding-end">dignissim placerat conubia pharetra molestie cum, nullam varius</h6>
          </div>
      </ion-slide>
      <ion-slide>
          <div class="slide-content">
            <h6 class="ion-no-margin u-bold">Vel sed accumsan integer porttitor</h6>
            <h6 class="ion-no-margin ion-padding-start ion-padding-end">dignissim placerat conubia pharetra molestie cum, nullam varius</h6>
          </div>
      </ion-slide>
  </ion-slides>
  <ion-button expand="block" fill="clear" color="light" size="default" routerLink="/home" routerDirection="root">
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
      Saltar
  </ion-button>
</ion-content>
